__pycache__/
dist/
*.py[cod]
*$py.class
*.egg-info/
.DS_Store
.idea/
.ruff_cache/


data_gen_scripts/data
data_gen_scripts/exp
launch_scripts/trajectory_videos/
launch_scripts/hiql_train.*

*.npz
*.pkl
*.json
*.csv
*.mp4